* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-list {
  width: 70%;
  height: 100%;
}
#playing-field {
  height: auto;
  min-height: 198px;
  padding: 50px 0;
  background-color: aqua;
  border: 2px solid rgb(88, 80, 80);
  border-radius: 10px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
}
#playing-field div {
  width: 100px;
  height: 100px;
}
.game-manage {
  display: flex;
  padding-left: 3%;
  padding-top: 2%;
  justify-content: space-evenly;
}
.dice-image {
  width: 100%;
  height: 100%;
  flex: 1 1 30%;
}
#dice-select,
#roll-btn,
#clear-btn {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 3px 1px;
  box-sizing: border-box;
  border: 1px solid rgb(39, 39, 39);
}
#dice-select:hover,
#roll-btn:hover,
#clear-btn:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px black;
}
